@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@font-face {
  font-family: "lato-font";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Lato-Regular/Lato-Regular.eot");
  src: url("/fonts/Lato-Regular/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Regular/Lato-Regular.woff") format("woff"), url("/fonts/Lato-Regular/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "lato-heavy";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Lato-Regular/Lato-Heavy.eot");
  src: url("/fonts/Lato-Regular/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Regular/Lato-Heavy.woff") format("woff"), url("/fonts/Lato-Regular/Lato-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "lato-bold";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Lato-Regular/lato-bold.eot");
  src: url("/fonts/Lato-Regular/lato-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Regular/lato-bold.woff") format("woff"), url("/fonts/Lato-Regular/lato-bold.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "lato-font", sans-serif;
}

h1 {
  font-size: 24px;
  color: #1f2041;
  font-family: "lato-bold", sans-serif;
}

h2 {
  font-size: 19px;
  color: #1f2041;
  font-family: "lato-bold", sans-serif;
}

h3 {
  font-size: 12px;
  color: #1f2041;
  font-family: "lato-font", sans-serif;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  color: rgba(31, 32, 65, 0.75);
  font-family: "lato-font", sans-serif;
}

.containers {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

* {
  font-family: 'Open Sans';
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  color: #069370;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  text-decoration: none;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
}

nav ul li a.active, nav ul li a:hover {
  background: #069370;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.clearfix {
  clear: both;
}

@media (max-width: 1200px) {
  header {
    margin: 20px;
  }
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
  nav.active {
    display: block;
    width: 100%;
  }
  nav.active ul {
    display: block;
  }
  nav.active ul li {
    margin: 0;
  }
  .menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #069370;
  }
  .menu-toggle:before {
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 40px;
  }
  .menu-toggle.active:before {
    content: '\f00d';
  }
}
